body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style1{
    background-color: black;
    color: white; 
    height: 40px;
    } 
    #response{  
        color: #3498db;
        background-color: #f0f0f0; 
        width: fit-content;
    }

    #plane{
        position: absolute;  
        /* start before answer */
        left: -30px; 
        z-index: 10; 
        margin-top: -10px;
    }

    #progress_bar{
        width: 400px;
        height: 34px;
        border: solid 3px black;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        position: relative;  
        z-index: 1;
    }

    #game_progress{
        position: relative;
        width: 400px; 
        height: 150px;
        border: 1px solid transparent; 
    }

    #field_user{
        margin-bottom: 40px;
    }
/* grid cube */
    #game_square_stat {
        position: fixed; 
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(8, 5px);
        grid-template-rows: repeat(8, 5px);
        gap: 10px; 
  }
    .cube{
        width: 10px;
        height: 10px;
        background-color: rgb(255, 255, 255);
        border: 2px black solid;
    }