body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style1{
    background-color: black;
    color: white; 
    height: 40px;
    } 
    #response{  
        color: #3498db;
        background-color: #f0f0f0; 
        width: fit-content;
    }

    #plane{
        position: absolute;  
        top: -10px;
        /* start before answer */
        left: -30px; 
        z-index: 10; 
        
    }

    #progress_bar{
        width: 400px;
        height: 34px;
        border: solid 3px black;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        position: relative;  
        z-index: 1;
    }

    #game_progress{
        position: relative;
        width: 400px; 
        height: 150px;
        border: 1px solid transparent; 
    }